/* Ruta para el awardSpace assets/css/style.css */

@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;600&display=swap');

/*Estilos */
body {
    font-family: 'Poppins', sans-serif;
    background-color: #f4f6f9; /* Color gris */
    color: #333;
}

/* Header */
.navbar-custom {
    background: linear-gradient(135deg, #0f2027 0%, #203a43 50%, #2c5364 100%);
    box-shadow: 0 4px 6px rgba(0,0,0,0.1);
}

.navbar-brand {
    font-weight: 600;
    letter-spacing: 1px;
}

/* Tarjetass*/
.card {
    border: none;
    border-radius: 12px;
    transition: transform 0.2s, box-shadow 0.2s;
}

/* hove */
.card-dashboard:hover {
    transform: translateY(-5px);
    box-shadow: 0 10px 20px rgba(0,0,0,0.1);
}

/* Botones*/
.btn-primary {
    background-color: #2c5364;
    border-color: #2c5364;
}

.btn-primary:hover {
    background-color: #203a43;
    border-color: #203a43;
}


/* Clase especial para el body del Login */
body.login-body {
    background: linear-gradient(rgba(0,0,0,0.7), rgba(0,0,0,0.7)), url('../img/sign.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.card-login, .card-registro {
    width: 100%;
    border-radius: 15px;
    padding: 2rem;
    background-color: rgba(255, 255, 255, 0.95); /* Blanco semitransparente */
}

.card-login { max-width: 400px; }
.card-registro { max-width: 500px; }



